body{
    background-color: aqua;
    border: 0px;
    padding: 0cm;
    margin: 0cm;
}
.heading{
    text-align: center;
    background-color: red;
    border: solid 5px rgb(180, 15, 139);
    border-radius: 30%;
}

.pestañas {
    margin: 10px;
    text-align: center;
    background-color: aqua;
}

.pestañas a {
    font-size: 150%;
    border: double black 5px;
    border-radius: 10%;
    color: rgb(128, 0, 85);
}