body{
    border: 0px;
    padding: 0cm;
    margin: 0cm;
}
.heading{
    text-align: center;
    background-color: red;
    border: solid 5px black;
    border-radius: 30%;
    margin: 0cm;
}

.pestañas {
    text-align: center;
    background-color: aqua;
}

.pestañas a {
    margin: 20px;
    border: double black 5px;
    border-radius: 10%;
    color: green;
}